.form-head{
  clear: both;
  text-align: center;
}
.login-header{
  margin-left: 20px;
}

.form-form {
  display: flex;
  flex-direction: column;
    clear: both;
    text-align: center;
    min-width: 100px;
    max-width: 250px;
    /* width: 20%; */
    margin-left: 0.5cm;
  }
  
  .form-full-width {
    width: 100%;
  }
  .form-button{
    float: center;
    width: 50%;
  }