<!-- <p>customer-profile-detailed works!</p> -->
<div fxLayoutAlign="center center">
    <div fxFlex="97">
        <div>
            show the profile details
        </div>

        <div>
            <span>
                <button mat-raised-button color="accent" class="transaction-button" type="submit" >Fixed Deposit</button>
            </span>
            <span>
                <button mat-raised-button color="accent" type="submit" >Loan Reccured</button>
            </span>
            <span>
                <button mat-raised-button color="accent" type="submit" >Transactions</button>
            </span>
        </div>
    </div>

</div>