.form-head{
  text-align: center;
    margin-left: 0.5cm;
    clear: both;
  }
  .form-form {
      min-width: 100px;
      max-width: 250px;
      width: 100%;
      text-align: center;
      margin-left: 0.5cm;
    }
    
    .form-full-width {
      width: 100%;
    }
    .form-button{
      width: 40%;
    }
    .back-button{
      clear: both;
      text-align: center;
      margin-top: 10%; 
    
    }.back-button{
      clear: both;
      text-align: center;
      margin-top: 10%; 
    
    }