/* .nav-background{
    background-color: lightblue;
  } */
.home-button{
float: left;
width: 10%;
}
.login-button{
float: right;
width: 10%;
}
.register-button{
padding-left: 2%;
float: right;
width: 10%;
}
.logout-button{
    float: right;
    width: 10%;
    }